In [1]:
# Import libraries
import pandas as pd
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)

In [3]:
# Read in CSV file
df = pd.read_csv("unicorn_companies_clean.csv")

In [5]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sequoia Capital China
1,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,SIG Asia Investments
2,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sina Weibo
3,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Softbank Group
4,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,Founders Fund

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974 entries, 0 to 2973
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  2974 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 232.5+ KB

In [9]:
df.shape

(2974, 10)

In [11]:
# Drop rows with NaN values
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974 entries, 0 to 2973
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  2974 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 232.5+ KB

In [15]:
# Remove "$" and "B" and cast "Valuation" as float
df["Valuation"] = (df["Valuation"].astype(str)  # Ensure it's a string first
    .str.replace("$", "", regex=False)          # Remove "$"
    .str.replace("B", "000000000", regex=False) # Replace "B" with 9 zeros
    .astype(float)                              # Convert to float
)

df["Valuation"].head(5)

0    1.800000e+11
1    1.800000e+11
2    1.800000e+11
3    1.800000e+11
4    1.000000e+11
Name: Valuation, dtype: float64

In [17]:
# Check for non-numerical values
df["Funding"].value_counts()

Funding
1.000000e+09    166
2.000000e+09     84
2.000000e+08     27
4.000000e+09     25
3.000000e+09     20
               ...
6.100000e+08      1
4.180000e+08      1
6.240000e+08      1
6.700000e+07      1
6.450000e+08      1
Name: count, Length: 532, dtype: int64

In [19]:
# Exclude rows with unknown "Funding" values
df = df[df["Funding"] != "Unknown"]
df.shape

(2974, 10)

In [ ]:
# Remove "$" and "B" and cast "Funding" as float
df["Funding"] = (df["Funding"]
    .str.replace("$", "")
    .str.replace("B", "000000000")
    .str.replace("M", "000000")
    .astype(float)
)

df["Funding"].head(5)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974 entries, 0 to 2973
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  2974 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 232.5+ KB

In [23]:
df["Select Investors"].unique()

array(['Sequoia Capital China', 'SIG Asia Investments', 'Sina Weibo', ...,
       'Augmentum Fintech', 'True', 'Causeway Media Partners'],
      dtype=object)

In [25]:
df["Select Investors"].nunique()

1235

In [27]:
df["Select Investors"].value_counts()

Select Investors
Accel                       59
Tiger Global Management     52
Andreessen Horowitz         52
Insight Partners            46
Sequoia Capital China       45
                            ..
Go-Ventures                  1
Lockheed Martin Ventures     1
GAM Holding                  1
HOF Capital                  1
Causeway Media Partners      1
Name: count, Length: 1235, dtype: int64

In [31]:
# Split investors and convert to list
df["Select Investors"] = df["Select Investors"].str.split(", ")

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2974 entries, 0 to 2973
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  0 non-null      float64
dtypes: float64(3), int64(1), object(6)
memory usage: 232.5+ KB

In [35]:
# Explode "Select Investors" to individual list
df = df.explode("Select Investors")
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,NaN
1,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,NaN
2,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,NaN
3,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,NaN
4,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2974 entries, 0 to 2973
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  0 non-null      float64
dtypes: float64(3), int64(1), object(6)
memory usage: 255.6+ KB

In [39]:
df["Select Investors"].value_counts()

Series([], Name: count, dtype: int64)

In [41]:
# Import the clean df to folder
df.to_csv("unicorn_companies_cleanfile.csv", index=False)